.git
node_modules
**/node_modules
dist
**/dist
.next
.next-build
out
coverage
*.tsbuildinfo
*.log
logs
**/logs
.postgres
backups
**/backups
uploads
**/uploads
machine.lock
.env
.env.*
!.env.example
!.env.*.example
tools/windows